@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   color: rgb(var(--foreground-rgb));
   background-image: url('/background.svg');
   background-size: cover;
   color: white;
   font-family: Roboto, sans-serif;
}

.nav,
.side-top {
   background-color: #0a243d;
   height: 60px;
}

.side-top {
   width: 250px;
   box-shadow: 0px 10px 16px -4px rgba(0, 0, 0, 0.4);
   z-index: 0;
}

.side-bottom {
   width: 250px;
   background-color: #12375c;
}

.search-box {
   padding: 8px 15px;
}

.search-input {
   background-color: #254769;
   height: 36px;
   width: 100%;
   padding-left: 30px;
}

.search-input::placeholder {
   color: #bbb;
}

.search-logo {
   top: -25px;
   left: 8px;
   position: relative;
}

.right-border {
   border-right: 2px solid #477c96;
   padding: 4px 8px 2px 8px;
}

.NI-logo {
   padding: 4px 8px 2px 8px;
}
